body{
    background-color: antiquewhite;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}
.heading{
    color: orangered;
    font-size: 4rem;
}

@media(max-width:1024px){
    .clock{
        margin-top: 26rem;
    }
}

@media(max-width:576px){
    .clock{
        margin-top: 14rem;
    }
    .heading{
        color: orangered;
        font-size: 2rem;
    }
}
